<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenue, je suis <b><%= title %></b> <i>version 1.0.0</i> </p><br>
    <p>
      Je suis un Serveur permettant de générer un code QR à partir de ce qu'on lui passe en paramètre...
    </p>
    <br>
    <p>
      Mon créateur est <b>@carion</b> => ( Michael Medi )
    </p>
    <p>
      Contacts : yannmicke@gmail.com / michael@smux.io
    </p>
  </body>
</html>
