<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%= title %></h1>
    <p>Bienvenue, je suis <b><%= title %></b> <i>version 1.0.0</i> </p><br>
    <div>
        <img width="300" src="<%= qrcode %> " alt="codeqr">
    </div>
  </body>
</html>
